* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h2 {
  font-size: 20px;
}

#gnb {
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  width: 100%;
  padding: 25px;
  z-index: 1;
}

.gnb__logo {
  padding-left: 250px;
}

.gnb__menu {
  display: flex;
  padding-right: 250px;
}

.gnb__list {
  margin: 0px 24px;
  font-size: 14px;
  cursor: pointer;
}

.gnb__list:hover {
  color: #8a8787;
  transition: all 300ms ease-in-out;
}

.catagory__btn {
  display: none;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

/* TimeBanner */

#time__banner {
  z-index: -1;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

.banner__container {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 755px;
  opacity: 0.2;
}
.banner__image img {
  width: 100%;
  height: 755px;
}

.banner__description {
  position: absolute;
  top: 34%;
  left: 34%;
  color: white;
  text-align: center;
}

.banner__description p {
  padding-top: 20px;
  color: rgb(219, 219, 219);
}

/* Vetical Bar  */

.top__bar {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border-left: 1px solid white;
  height: 50px;
}

.bottom__bar {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  border-left: 1px solid white;
  height: 50px;
}

#about {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0px 70px 0px;
}

.about__description,
.about__img {
  flex-basis: 35%;
}

.about__description {
  text-align: left;
  padding-top: 120px;
}

.about__img {
  text-align: right;
  padding-top: 50px;
  visibility: hidden;
}

.about__description h2 {
  font-family: 'Noto Serif', serif;
}

.about__description ul {
  padding-top: 10px;
}

.about__description li {
  padding-top: 6px;
}
.about__description p {
  font-size: 15px;
  padding-top: 20px;
}

.information__icon {
  padding-top: 40px;
}

.information__icon i {
  color: white;
  background-color: #1f1f1f;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
}

.information__icon i:hover {
  background-color: white;
  color: black;
  transition: all 300ms ease-in-out;
}

/* SKILL */

#skill {
  position: relative;
  height: 600px;
  width: 100%;
}

.skill__title {
  position: absolute;
  top: 60px;
  left: 50%;
  color: rgb(241, 201, 201);
  font-size: 18px;
}

.skill__banner {
  width: 100%;
  height: 600px;
  background: url('/img/skillBanner.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.skill__container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 600px;
  background-color: black;
  opacity: 0.7;
}

.skill__select {
  position: absolute;
  bottom: 90px;
  left: 40.3%;
  display: flex;
}

.skill__select i {
  margin: 0px 33px;
  cursor: pointer;
  font-size: 40px;
  color: #8baaff;
}

.skill__select p {
  margin: 14px 16px;
  color: white;
}

.skill__selectview {
  width: 100%;
  position: absolute;
  display: flex;
  top: 150px;
  color: rgb(241, 201, 201);
}

.skill__bar {
  flex-basis: 50%;
  padding-left: 300px;
}

.skill__description {
  flex-basis: 50%;
  padding: 0px 200px;
}
.skill__description h3 {
  font-size: 17px;
  color: rgb(226, 226, 226);
  padding: 10px 8px;
}
.front__description,
.back__description,
.App__description {
  display: none;
}

.skill__component {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 5px 0px;
}

.skill__persentage {
  background-color: gray;
}

.skill__persentagebar {
  content: '';
  height: 3px;
  background-color: #8baaff;
}

/* Project */

#project {
  background-color: #f0f0f0;
  font-family: 'Noto Serif', serif;
}

.project__title {
  text-align: center;
  font-size: 20px;
  padding-top: 60px;
}

.project__component {
  position: relative;
  margin: 20px;
  cursor: pointer;
}

.project__container {
  display: flex;
  padding: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.project__component img {
  width: 360px;
  height: 240px;
  padding: 20px;
}

.poject__description {
  position: absolute;
  text-align: center;
  width: 360px;
  height: 240px;
  top: 0px;
  padding: 20px;
  line-height: 240px;
  opacity: 0.9;
  background-color: transparent;
  color: transparent;
  font-size: 14px;
}

.poject__description:hover {
  background-color: black;
  color: yellow;
  transition: all 300ms ease-in-out;
}

/* Contact */

#contact {
  font-family: 'Noto Serif', serif;
  height: 230px;
  background-color: #1f1f1f;
  text-align: center;
  padding-top: 30px;
  color: white;
}

.contact__description {
  padding-top: 30px;
  color: rgb(241, 237, 237);
}

.tel {
  font-size: 14px;
  color: rgb(194, 194, 194);
  padding: 10px 0px;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  padding-top: 8px;
}

.mail a {
  color: white;
  border: 1px solid rgb(247, 243, 243);
  padding: 8px;
  margin: 0px 20px;
  font-size: 14px;
}

/* Show */

.selectShow {
  display: block;
  animation: fade 300ms ease-in-out;
}

.aboutShow {
  visibility: visible;
  animation: fade 400ms ease-in-out;
}

/* KeyFrame */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Screen max-width : 768px */

@media screen and (max-width: 768px) {
  /* Gnb */

  #gnb {
    justify-content: space-around;
    padding-top: 30px;
    flex-direction: column;
  }

  .gnb__logo {
    padding: 0px;
  }

  .gnb__menu {
    display: none;
    padding-right: 0px;
    margin: 40px 0px;
    text-align: center;
  }

  .gnb__list {
    font-size: 14px;
    margin: 10px 0px;
  }

  .catagory__btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 38px;
  }

  .gnb__list {
    font-size: 12px;
  }

  /* Time Banner */

  #vertical__bar {
    display: none;
  }

  .banner__image img {
    height: 445px;
  }

  .banner__container {
    height: 445px;
  }

  .banner__description {
    left: 15%;
    top: 38%;
  }

  .banner__description h1 {
    font-size: 1.4rem;
  }

  .banner__description p {
    font-size: 0.9rem;
  }

  /* About */
  #about {
    flex-wrap: wrap;
  }

  .about__description,
  .about__img {
    flex-basis: 55%;
    text-align: center;
    padding: 0px;
  }

  .about__description {
    font-size: 14px;
  }

  .information__icon {
    padding: 20px;
  }

  .information__icon i {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .about__img img {
    padding-top: 40px;
    width: 100%;
    height: 300px;
  }

  /* Skill */
  #skill {
    height: 750px;
  }

  .skill__banner,
  .skill__container {
    height: 750px;
  }

  .skill__title {
    left: 45%;
  }

  .skill__selectview {
    flex-wrap: wrap;
    top: 100px;
    left: 0px;
  }

  .skill__bar,
  .skill__description {
    flex-basis: 100%;
    padding: 0px 100px;
  }

  .skill__description {
    padding-top: 60px;
  }

  .skill__select {
    left: 20%;
  }

  .skill__select i {
    font-size: 28px;
    margin: 0px 16px;
  }

  .skill__select p {
    margin: 10px 16px;
    position: relative;
    left: -15px;
  }

  /* Project */
  .project__container {
    padding-top: 30px;
  }
  /* Show */

  .categoryShow {
    display: block;
    display: flex;
    flex-direction: column;
    animation: fade 300ms linear;
  }
}
