/* Global */

:root {
  /* Color */

  --color-white: #ffffff;

  --color-light-white: #eeeeee;

  --color-dark-white: #bdbdbd;

  --color-pink: #fe918d;

  --color-dark-pink: #ff6863;

  --color-dark-grey: #4d4d4d;

  --color-grey: #616161;

  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;

  --color-black: #000000;

  /* Font size */

  --font-large: 48px;

  --font-medium: 28px;

  --font-regular: 18px;

  --font-small: 16px;

  --font-micro: 14px;

  --size-border-radius: 4px;

  /* Font weight */

  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;

  /* Animation*/

  --animation-duration: all 300ms ease;
}

/* Typography */

h1 {
  font-size: var(--font-large);

  font-weight: var(--weight-bold);

  color: var(--color-black);

  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);

  font-weight: var(--weight-semi-bold);

  color: var(--color-black);

  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 8px 0;
}

p {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 4px 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Stylish', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* #5e106e; 이쁜 컬러 */

/* Navbar */

* {
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
}

i::before {
  margin: 40px;
  font-size: 25px;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.home__menu {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d8e5c4;
  padding-top: 150px;
  transition: 0.5s;
  overflow-x: hidden;
  font-weight: 700;
}

.home__menu .home__items:hover {
  width: auto;
  border-radius: 4px;
  background-color: var(--color-pink);
}

.home__menu #unmake {
  position: absolute;
  color: black;
  top: 0;
  font-size: 36px;
}

/* Home */

#home {
  display: flex;
  height: 800px;
}

.home__left {
  flex-basis: 50%;
}

.home__right {
  flex-basis: 50%;
  background: url('./imgs/table.jpg');
  background-attachment: fixed;
  background-size: 50%;
}

.home__title {
  width: 320px;
  margin: auto;
  position: relative;

  top: 250px;
}

.home__title h1 {
  cursor: pointer;
  font-size: 50px
}

.home__title p {
  font-size: 25px;
  opacity: 0.8;
  color: black;
}

.home__items {
  cursor: pointer;
  margin: 20px;
  padding: 0px 30px;
}

/* Skill */

#skill {
  background: url('./imgs/home.jpg') bottom no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 1400px;
  background-repeat: no-repeat;
}



.skill__devision {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
}

.skill__left {
  width: 50%;
}

.skill__right {
  width: 30%;
  position: relative;
}

.skill__right img {
  max-width: 100%;
  border-radius: 4px;
}

.skill__hover {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 25px;
  cursor: pointer;
}

.skill__hover h2:after {
  content: '';
  height: 2px;
  width: 24px;
  background-color: yellow;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

.skill__hover:hover {
  opacity: 0.8;
  margin: 0;

  transition: all 300ms ease;
}

.skill__hover h2,
.skill__hover p {
  color: yellow;
}

.skill__left h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.skill__left p {
  color: white;
  font-size: 25px;

}

/* Major */

#major {
  height: 100%;

}

#major p i {
  font-size: 20px;
}

#major p {
  color: black;
}

#major h1 {
  padding: 50px;
}

.major__container {
  text-align: center;
  margin: auto;
  width: 1150px;
}

.major__description {
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

.major__description img {
  width: 300px;
  height: 300px;

}

/* Contact */

#contact {
  background: url('./imgs/my_back.png')center;
  margin-top: 150px;
  width: 100%;
  height: 150px;
  background-color: #26E991;
  text-align: center;
}

#contact h2 {
  color: black;
  font-weight: bold;
  padding: 20px 0px 0px;
}

#contact i {
  font-size: 25px;

}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}