/* Root */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 24px;
}
a {
  text-decoration: none;
}

/* Category */
.category {
  align-items: center;
  position: absolute;
  top: 138px;
  left: 140px;
  z-index: 2;
  color: white;
}
.category c {
  margin: 0px 10px;
  font-size: 22px;
  cursor: pointer;
}

/* Category Click  */

.category__click {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0px;
  right: 2000px;
  visibility: hidden;
}

.cancle {
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.click {
  flex-basis: 20%;
  background-color: white;
  line-height: 52px;
  padding-top: 10%;
  text-align: center;
}
.click h2 a {
  color: black;
}

.click p {
  color: #999799;
}

.white__space {
  flex-basis: 80%;
  background-color: black;
  opacity: 0.8;
}
/* CategoryShow */
.show {
  transition: all 500ms ease-in-out;
  animation: fade 500ms linear;
  visibility: visible;
  right: 0px;
}

/* Carousel */
#carousel {
  width: 100%;
  height: 750px;
  position: relative;
}

.slider {
  position: absolute;
  top: 0px;
  left: 0px;
}

.slider img {
  width: 100%;
  height: 750px;
  z-index: -10;
}

.VIEW {
  z-index: 1;
  animation: fade 500ms ease-in-out;
  transition: all 500ms linear;
}
.loading__bar {
  z-index: 999;
  position: absolute;
  left: 25.5%;
  top: 50%;
  width: 250px;
  padding: 1px;
  background-color: #92817a;
}

.gage {
  height: 2px;
  background-color: white;
  z-index: 999;
  animation: bar 5000ms ease-in-out;
  animation-iteration-count: infinite;
}
.down__btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: white;
  z-index: 1;
  cursor: pointer;
  font-size: 20px;
}

.site__title h1 {
  position: absolute;
  top: 25%;
  left: 25%;
  color: white;
  z-index: 1;
  font-size: 38px;
  font-weight: bold;
}
.site__title p {
  position: absolute;
  top: 34%;
  left: 25%;
  color: white;
  z-index: 1;
  font-size: 26px;
  font-weight: bold;
}

/*  About Description*/

#about__container {
  padding-top: 85px;
  line-height: 20px;
  background-color: #f3f3f3;
  padding-bottom: 60px;
}
.about__description {
  display: flex;
  padding: 50px;
  padding-bottom: 73px;
  flex-wrap: wrap;
}

.about__description img {
  width: 400px;
  height: 450px;
}

.about__image {
  flex-basis: 50%;
  text-align: right;
}
.about__info {
  flex-basis: 30%;
  line-height: 30px;
  color: #393333;
  padding-left: 50px;
}
.about__info h1 {
  padding-bottom: 20px;
}

/* Footer */
#footer {
  height: 250px;
  background-color: grey;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* KeyFrames */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 250px;
  }
}

/* Media screen */

@media screen and (max-width: 768px) {
  /* Category */
  .category {
    top: 6%;
    left: 6%;
  }
  .category c {
    font-size: 16px;
  }
  /* Category Click */

  .click {
    flex-basis: 35%;
  }

  .category c,
  .category p {
    font-size: 16px;
  }
  .click h2,
  .cancle {
    font-size: 12px;
  }

  /* Carousel */
  .site__title h1 {
    font-size: 24px;
  }
  .site__title p {
    font-size: 16px;
  }
  /* About Description */

  .about__description img {
    width: 300px;
    height: 300px;
    padding-bottom: 40px;
  }
  .about__info {
    flex-basis: 100%;
    text-align: center;
    padding-left: 0px;
  }
}
